.videoInput {
	max-width: 95%;
	min-height: 95%;
	max-height: 100%;
}

video::-webkit-media-controls-fullscreen-button {
	display: none;
}

.pizzeriaHeader::before {
	background: url('/pizzas_bg.svg') !important;
}

.vdPanelLight{
	.pizzeriaHeader::before {
		background: url('/pizzas_bg_light.svg') !important;
	}
}


