  /* Project Pages */

  .screenImg {
	max-width: 100%;
}

.projectHeader {
	margin: auto auto;
	width: 100%;
	height: 100%;
	position: relative;
	padding: 2rem 0;

	p,
    h6,
	h2 {
		position: relative;
		padding: 0 3rem;
		margin: 2rem;
	}
	h6 {
		text-align: center;
		font-size: 1.3rem;
	}
    p{
        margin: auto;
    }
    h2{
        text-align: center;
    }
}

.projectHeader::before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100% !important;
	opacity: 0.6;

	object-fit: cover;
	opacity: 0.3;
}

ol li p {
	text-align: center !important;
	line-height: 3 !important;
}

@media (min-width: 900px) {
    .projectHeader{
        p{
            width: 70ch;
        }
    }
}

@media (max-width: 500px) {
	.projectHeader {
		padding: 1.5rem 0;
		font-size: 0.7rem;
		p,
		h2,
		bold {
			position: relative;
			padding: 0 1rem;
			margin: 0.5rem;
		}
		bold {
			font-size: 0.9rem;
			cursor: pointer;
		}
	}
}
.spanItem {
	cursor: pointer;
	color: var(--primaryColor) !important;
	transition: 0.5s ease;
}
.spanItem:hover {
	color: var(--actionColor) !important;
}
