.appContentHeader{
    display: flex;
    justify-content: end;
    padding: 20px 10px;
    overflow: hidden;

    .VentusDev{
        width: 150px;
    }

    a{
        max-width: 200px;
        margin: 0 10px;
    }

    .appContentHeaderText{
        color: var(--mainFC);
    }

    @media screen and (max-width: 750px) {
        .VentusDev{
            max-width: 70px;
        }
    }

    .VentusDev{
        fill: var(--goldLight);
    }


}