.footer{
    padding: 10px;
    font-size: .8rem;
	background-color: var(--appBgL);
	border: 1px solid var(--actionColor);
    width: 100%;
    bottom: 0;
   .copyRight{
    text-align: center;
   }
}